/*変更履歴*/
.changelogs-list{
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
}
div,span{
    line-height:20px;
}
.version{
    padding-top: 5px;
    font-size:25px;
    font-weight:bold;
    line-height:20px;
    margin-bottom: 5px;
}
.changelogs-content{
    line-height:20px;
    font-weight: normal;
    list-style: square;
    margin-top: 5px;
    margin-bottom: 2em;
}
.codename::before{
    content: "codename : ";
}