
.downloads {
    padding: 0 25px;
    display: inline-block;
    vertical-align: top;
}
.download {
    margin: auto;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 17.8em;
    margin-left: 0.5em;
}
.dlink-win,.dlink-linux,.dlink-osx {
    color: white;
    margin: 5px 0;
    padding: 10px 0;
    font-size: 1.8rem;
    width: 240px;
    height: 3.1em;
    background-color: coral;
    font-weight: bold;
    text-rendering: auto;
    text-align: center;
    border: 0;
}
.dlink-osx {
    width:100%;
}
.dldrop-win,.dldrop-linux{
    color: white;
    background-color: coral;
    margin: 5px 0 5px 2px;
    height: 6.7em;
    width: 43px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    display: inline;
    border: 0;
    top: 0;
    right: 0;
}
.dlink-win:hover,
.dlink-linux:hover,
.dlink-osx:hover,
.dldrop-win:hover,
.dldrop-linux:hover,
.type-win:hover,
.type-linux:hover{
    cursor : pointer;
    transition: 0.5s;
    background-color: rgb(255, 185, 159);
}
.other-win, .other-linux{
    white-space: nowrap;
    background: #e1e1e1;
    border: 2px #57441b solid;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.33);
    display: none;
    color: black;
    width: 120%;
    margin: 0;
}
.type-win,.type-linux{
    color: white;
    padding: 10px 0;
    background-color: coral;
    font-weight: bold;
    text-rendering: auto;
    text-align: center;
    border: 0;
}
.type-win{
    width: 50%;
}
.type-linux{
    width: calc(100% / 3);
}
.dlink-win img,.dlink-linux img,.dlink-osx img{
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.download-icon {
    display: inline;
}
img {
    vertical-align: middle;
    width: auto;
}
.dlink-win small,.dlink-linux small,.dlink-osx small{
    display: block;
    margin-top: 0.75rem;
    color: grey;
    font-size: 1.2rem;
    background-color: rgb(255, 185, 159);
    padding: 2px 0;
}
#impossible:hover{
    display: inline;
    cursor : pointer;
    color: goldenrod;
}